body{
  width: 100%;
}

.hidden{
  display:none;
}

p.hidden{
  display:none;
}

.game{
  background-color: blanchedalmond;
  margin:20px auto 0px auto;
  padding:30px 0px;
}

#char-placeholders{
  margin:0px auto 30px auto;
}

.charDiv{
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  font-size: 3em;
  content:"";
  float:left;
  margin:10px;
  min-width:20px;
  height:65px;
  border-bottom:5px solid black;
}

.keys-pressed{
  height:46px;
  width:100%;
  padding-left:15px;  
}

#keys-pressed{
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  font-size:1.2em;
}

#canvas{
  margin-top:30px;
  border:4px solid #000000;
}

@keyframes moves-flash {
  0% {
      color: Black;
  }
  50% {
      background-color: Red;
  }
  100% {
      background-color: Black;
  }
}

@-webkit-keyframes moves-flash {
  0% {
      color: Black;
  }
  50% {
      color: Red;
  }
  100% {
      color: Black;
  }
}

.moves-flash {
  animation-name: moves-flash;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: moves-flash;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

.final-moves-flash{
  color:red;
}